.container-dashboard {
  width: 100%;

  h2 {
    color: var(--color-text-secondary);
    font-size: 1.2rem;
  }

  .header-dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    padding: 1.5rem;
    margin: 1.5rem;

    .header-dash-head {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        margin-right: 0.5rem;
      }
    }

    .header-dash-main {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        margin-right: 0.5rem;
        border-radius: 1.5rem;
      }
    }
  }

  //main dashboard
  .main-dashboard {
    margin: 0 2rem;

    .indicators {
      display: flex;
      justify-content: space-between;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 1px 1px 5px silver;
      margin-bottom: 1rem;

      .priorities-indicators,
      .status-indicators,
      .efficiency-indicators {
        width: calc(100% / 3);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: black;
        justify-content: top;
      }
    }

    .task-filter {
      background-color: white;
      box-shadow: 1px 1px 5px silver;
      border-radius: 0.5rem;
      display: flex;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
      justify-content: space-between;

      .filter-title {
        display: flex;
        align-items: center;

        div {
          display: flex;
          align-items: center;

          .icon-filter {
            margin-right: 0.5rem;
            font-size: 25px;
          }

          h2 {
            font-size: 16px;
            margin-right: 1rem;
          }
        }

        #input-item-id {
          padding: 0.5rem;
          border: 1px solid silver;
          outline: 0;
          border-radius: 0.2rem;
          cursor: pointer;
        }
      }

      .filter-buttons {
        display: flex;

        .btn-task {
          padding: 0.5rem 1rem;
          border-radius: 0.2rem;
          border: 1px solid #047ecfee;

          &:hover {
            cursor: pointer;
          }
        }

        .btn-task {
          margin: 0 1rem;
          background-color: #047ecfee;
          color: white;

          &:active {
            transform: scale(0.98);
          }
        }

        .search-task {
          position: relative;

          input {
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            outline: 0;
            border: 1px solid silver;
            font-size: 14px;
          }

          .icon-search-task {
            position: absolute;
            right: 8px;
            top: 8px;
          }
        }
      }
    }
  }
}


@media (max-width:999px) {
  .container-dashboard {
    .main-dashboard {
      .indicators {
        flex-wrap: wrap;

        .priorities-indicators,
        .status-indicators,
        .efficiency-indicators {
          width: 50%;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width:799px) {
  .container-dashboard {
    .header-dashboard {
      flex-direction: column-reverse;
      align-items: normal;

      .header-dash-main {
        display: flex;
        justify-content: end;
      }
    }
    .main-dashboard {

      .task-filter {
        flex-direction: column;
      }
      .filter-title {
        margin-bottom: 1.5rem;
      }
      .filter-buttons {
        justify-content: end;
      }
    }
  }
}


@media (max-width:699px) {
  .container-dashboard {
    .header-dashboard {
      .header-dash-main {
        margin-bottom: 1.5rem;
      }
    }
    .main-dashboard {
      .indicators {
        flex-wrap: wrap;

        .priorities-indicators,
        .status-indicators,
        .efficiency-indicators {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:499px) {
  .container-dashboard {
    .main-dashboard {
      .task-filter {
        .filter-title {
          justify-content: space-between;

          h2 {
            font-size: 14px;
          }
        }
        .filter-buttons {
          flex-direction: column;

          .search-task {
            margin-top: 1rem;
            
            input {
              width: 100%;
              margin: 0 auto ;
            }
          }
        }
      }
    }
  }
}

@media (max-width:499px) {
  .container-dashboard {
    .main-dashboard {
      .task-filter {
        .filter-title {
          flex-direction: column;
          align-items: normal;

          div {
            margin-bottom: 1rem;
          }
        }
        .filter-buttons {
          .btn-task {
           width: 100%;
           margin: 0 auto;
          }
        }
      }
    }
  }
}