.container-app-full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;

  .loading {
    margin-bottom: 20px;
  }

  .loading-container {
    color: black !important;

    .spinner {
      border-top: 4px solid blue;
    }
  }

  p {
    font-size: 1.2rem;
    color: #333;
  }
}

.container-auth {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  max-width: 1444px;
  margin: 0 auto;

  .auth-head {
    width: 600px;
    padding: 5rem 2rem;

    h3 {
      margin-bottom: 1.5rem;
    }
    h1 {
      margin-bottom: 2.5rem;
    }
    label {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      font-size: 16px;
      font-weight: bold;

      input {
        width: 100%;
        margin: 0 0 0 1rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border: none;
        border-bottom: 1px solid silver;
        outline: 0;
        font-size: 18px;
        background-color: transparent;
      }

      .password-container {
        position: relative;
        width: calc(100% - 4.2rem);

        .toggle-password {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
          color: silver;
        }
      }

    }

    .container-btn-login {
      text-align: end;

      .btn-login {
        background-color: blue;
        padding: 0.8rem;
        font-size: 12px;
        color: white;
        border: transparent;
        cursor: pointer;
        margin: 1rem 0 0 0;

        &:active {
          transform: scale(0.88);
        }
      }
    }
  }

  .auth-main {
    background-color: blue;
    background-image: url(../../assets/images/img_empower.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: end;

    .end-layout-main {
      width: 100%;
      display: flex;
      justify-content: space-between;

      p {
        color: white;
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }

      .btn-register {
        background-color: white;
        padding: 1.5rem;
        border: transparent;
        color: #000000a8;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }
    }
  }
}

