@use "./variables" as *;

// --- Temas Claro e Escuro ---
body.light {
  --bg-color: #{$background-light};
  --text-color: #{$text-light};
  background-color: var(--bg-color);
  color: var(--text-color);

  .app-container {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .add-todo-form,
  .todo-list-container,
  .todo-item {
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid #ccc; // Adiciona borda leve
  }
}

body.dark {
  --bg-color: #{$background-dark};
  --text-color: #{$text-dark};
  background-color: var(--bg-color);
  color: var(--text-color);

  .app-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .add-todo-form,
  .todo-list-container,
  .todo-item {
    background-color: #333; // Cor de fundo escura
    color: var(--text-color);
    border: 1px solid #444; // Borda levemente mais clara
  }
}

// Estilo para o botão de toggle
.container-themes {
  display: flex;
  justify-content: end;
  margin: 0 auto 1rem;

  .theme-toggle-button {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

// --- Estilos do Formulário de Adição (TodoForm) ---
.add-todo-form {
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 1.5rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    transition: all 0.3s ease; // Adicione uma transição suave
  }
}

// --- Estilos da Lista de Tarefas (TodoList) ---
.todo-list-container {
  .todo-items {
    transition: all 0.3s ease-in-out; // Efeito suave na transição da lista
  }
}

// --- Estilos do Item da Lista (TodoItem) ---
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition:
    box-shadow 0.3s,
    transform 0.1s;

  &:hover {
    transform: scale(1.02); // Efeito de zoom ao passar o mouse
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra mais intensa
  }

  // Estilos para a conclusão da tarefa
  &.completed {
    opacity: 0.6;
    text-decoration: line-through;
  }

  .todo-details {
    transition: color 0.3s ease; // Transição na mudança de cor do texto
  }

  .todo-actions {
    button {
      transition:
        background-color 0.3s,
        transform 0.2s; // Transição suave nos botões

      &:hover {
        transform: scale(1.05); // Efeito de crescimento ao passar o mouse
      }
    }
  }
}
