@use "./variables" as *;

// --- Estilos Globais (Reset) ---
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f4f7f9;
}

.apexcharts-menu-icon {
  display: none;
}

.error-message {
  background-color: #ffdddd;
  color: #cc0000;
  padding: 0.75rem;
  margin: 2rem 0;
  border-radius: 0.75rem;
  text-align: center;
  font-weight: bold;
}

// --- Container Principal da Aplicação ---
.container-app {
  position: relative;

  .app-main {
    display: flex;
    position: relative;
    max-width: 1440px;

    .container-header {
      position: fixed;
      top: 0;
      left: 0;
    }

    .container-dashboard {
      position: absolute;
      top: 0;
      left: 250px;
      max-width: calc(100% - 250px);
    }
  }
}


@media (max-width:1199px) {
.container-app {
  .app-main {
      .container-header {
        display: none;
      }
      .container-dashboard {
        position: initial;
        max-width: 100%;
      }
    }
  }
}


@media (max-width: 899px) {
  .container-app {
    .container-auth {
      flex-direction: column;
      max-height: none;

      .auth-head {
        width: 100%;
      }

      .auth-main {
        height: 100%;
      }
      
    }
  }
}

@media (max-width: 499px) {
  .container-app {
    .container-auth {
      .auth-main {
        .end-layout-main {
          flex-direction: column;

          p {
            margin: 0 0 1rem 0;
          }
        }
      }

      .auth-head {
        padding: 3rem 1rem 2rem 1rem;
      }
    }
  }
}
