@use "./variables" as *;
@use "./themes";

// --- Estilos Globais (Reset) ---
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.apexcharts-menu-icon {
  display: none;
}

.container-app-full-center {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  height: 100vh;            
  background-color: #f0f0f0;
  text-align: center;        

  .loader {
    margin-bottom: 20px;
  }
  
  .loader-container {
    color: black!important;

    .spinner {
      border: 4px solid silver;
      border-top: 4px solid blue;
    }

  }

  p {
    font-size: 1.2rem;
    color: #333;
  }
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #e6e6e6;

  .spinner {
    border: 4px solid silver;
    border-top: 4px solid #e6e6e6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  background-color: #ffdddd;
  color: #cc0000;
  padding: 0.75rem;
  margin: 2rem 0;
  border-radius: 0.75rem;
  text-align: center;
  font-weight: bold;
}

.btn-logout {
  background-color: #ff000098;
  padding: 0.5rem;
  border: transparent;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  margin: 0 0 0 1rem;

  &:hover {
    background-color: red;
  }
}

// --- Container Principal da Aplicação ---
.container-app {
  position: relative;

  .container-themes {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
  }

  .container-auth {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    max-width: 1444px;
    margin: 0 auto;

    .auth-head {
      width: 600px;
      padding: 5rem 2rem;

      h3 {
        margin-bottom: 1.5rem;
      }
      h1 {
        margin-bottom: 2.5rem;
      }
      label {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        font-size: 16px;
        font-weight: bold;

        input {
          width: 100%;
          margin: 0 0 0 1rem;
          padding: 0.5rem 1rem 0.5rem 0.5rem;
          border: none;
          border-bottom: 1px solid silver;
          outline: 0;
          font-size: 18px;
          background-color: transparent;
        }
      }

      .container-btn-login {
        text-align: end;

        .btn-login {
          background-color: blue;
          padding: 0.8rem;
          font-size: 12px;
          color: white;
          border: transparent;
          cursor: pointer;
          margin: 1rem 0 0 0;

          &:active {
            transform: scale(0.88);
          }
        }
      }
    }

    .auth-main {
      background-color: blue;
      background-image: url(../assets/images/img_empower.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      display: flex;
      align-items: end;

      .end-layout-main {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          color: white;
          display: flex;
          align-items: center;
          padding: 0 1rem;
        }

        .btn-register {
          background-color: white;
          padding: 1.5rem;
          border: transparent;
          color: #000000a8;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  // --- Dashboard Page ---
  .container-dashboard {

    //header dashboard
    .header-dashboard {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      background-color: white;
      box-shadow: 1px 1px 5px #c0bfbf;

      .header-dash-left {
        display: flex;
        padding: 1rem;

        h1 {
          margin-right: 2.5rem;
        }

        .nav-dash-left {
          display: flex;
          align-items: center;

          li {
            margin: 0 1.5rem 0 0;
            list-style-type: none;
            color: #969696;
            font-size: 16px;

            &:hover {
              color: #333;
              cursor: pointer;
            }
          }
        }
      }
      
      .header-dash-right {
        display: flex;
        align-items: center;
        padding: 0 1rem 0 0;

        .container-name-user {
          margin-right: 0.5rem;
        }

        .icons-dash-right {

          .icon-notification {
            font-size: 18px;
          }
        }
      }
    }

    //main dashboard
    .main-dashboard {
      margin: 0 2rem;

      .indicators {
        padding: 1rem 0 0 0;
        display: flex;
        width: 100%;
        margin-bottom: 1.5rem;
        box-shadow: 1px 1px 5px #c0bfbf;
        background-color: white;
        justify-content: space-around;
        align-items: center;

        article {
          text-align: center;

          h4 {
            font-size: 14px;
          }
        }

        .title-indicators {
          display: flex;

          .img-file-check {
            width: 60px;
            margin-right: 0.5rem;
          }

          .title-file-check {
            text-align: start;

            p {
              max-width: 200px;
            }
          }
        }

        .efficiency-indicators {
          h4 {
            margin-bottom: 1.5rem;
          }
        }
      }

      .task-filter {
        background-color: white;
        display: flex;
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        justify-content: space-around;
        box-shadow: 1px 1px 5px #c0bfbf;

        .filter-title {
          display: flex;
          align-items: center;

          .icon-filter {
            margin-right: 0.5rem;
            font-size: 25px;
          }

          h2 {
            font-size: 16px;
          }
        }

        .filter-categories {
          display: flex;
          align-items: center;

          h3 {
            margin-right: 0.5rem;
            font-weight: 600;
            font-size: 16px;
          }

          ul {
            display: flex;

            li {
              margin: 0 0.5rem;
              list-style-type: none;
              display: flex;

              input {
                margin-right: 0.2rem;
              }
            }
          }
        }

        .filter-buttons {
          display: flex;

          .btn-task {
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            border: 1px solid #047ecfee;

            &:hover {
              cursor: pointer;
            }
          }

          .btn-task {
            margin: 0 1rem;
            background-color: #047ecfee;
            color: white;

            &:active {
              transform: scale(0.98);
            }
          }
          
          .search-task {
            position: relative;

            input {
              padding: 0.5rem 1rem;
              border-radius: 0.2rem;
              outline: 0;
              border: 1px solid silver;
              font-size: 14px;
            }

            .icon-search-task {
              position: absolute;
              right: 8px;
              top: 8px;
            }
            
          }
        }
      }
    }

    .todo-list-container {
      margin: 0 2rem;
      padding: 1.5rem;
      box-shadow: 1px 1px 5px #c0bfbf;
      background-color: white;
      border-radius: 0.5rem;
    }

    .main-todo-list {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 1rem;
        border: 1px solid #e0e0e0;
        text-align: left;
      }

      th {
        background-color: #f5f5f5;
        font-weight: bold;
      }

      .todo-item {
        transition: background-color 0.2s;

        &:hover {
          background-color: #f9f9f9;
        }

        .todo-actions {
          button {
            margin: 0 0 0 0.5rem;
            padding: 0.5em 1em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }

          .completed {
            background-color: #d4edda;
          }

          .btn-conclusion {
            background-color: #28a745;
            color: white;

            &:hover {
              background-color: #218838;
            }
          }

          .btn-edit {
            background-color: #007bff;
            color: white;

            &:hover {
              background-color: #0056b3;
            }
          }

          .btn-save {
            background-color: #ffc107;
            color: black;

            &:hover {
              background-color: #e0a800;
            }
          }

          .btn-delete {
            background-color: #dc3545;
            color: white;

            &:hover {
              background-color: #c82333;
            }
          }
        }

        .search-input-task {
          padding: 0.5rem;
          border: 1px solid silver;
          outline: 0;
          color: rgb(94, 92, 92);
        }
      }
    }

    .no-todos-msg {
      text-align: center;
      font-size: 1.2rem;
      color: #666;
      padding: 1rem;
    }


    h2 {
      color: var(--color-text-secondary);
      font-size: 1.2rem;
    }

    .app-title {
      font-family: "Playfair Display", serif;
      font-size: 2.5rem;
      color: var(--color-primary);
      margin-bottom: 2rem;
    }

    // --- Estilos do Formulário de Adição (TodoForm) ---
    .add-todo-form {
      padding: 3rem 2rem;
      border-radius: 1.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 50%;
      margin: 2rem auto;
      position: relative;

      .btn-close-task {
        position: absolute;
        top: 15px;
        right: 25px;
        background-color: transparent;
        border: transparent;
        color: #6b6b6b;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }

        &:active {
          transform: scale(0.98);
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        color: var(--color-text-secondary);
      }

      input[type="text"],
      input[type="date"],
      input[type="time"],
      select {
        padding: 0.75rem 1rem;
        border: 1px solid var(--color-border);
        border-radius: 0.75rem;
        margin-top: 0.4rem;
        font-size: 1rem;
        transition:
          border-color 0.3s,
          background-color 0.3s;
          background-color: #e6e5e5;
        color: var(--color-text-primary);

        &:focus {
          border-color: var(--color-primary);
          outline: none;
        }
      }

      .date-time-inputs {
        display: flex;
        gap: 1.5rem;

        label {
          flex: 1;
        }
      }

      .btn-add-todo {
        padding: 1rem;
        border: 1px solid #047ecfee;
        color: #047ecfee;
        border-radius: 2.5rem;
        font-size: 1rem;
        cursor: pointer;
        transition:
        background-color 0.3s,
        transform 0.1s;
        margin-top: 1rem;

        &:hover {
          background-color: #056cb1ee;
          color: white;
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }

  .container-task-create {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 899px) {
  .container-app {
    .container-auth {
      flex-direction: column;
      max-height: none;

      .auth-head {
        width: 100%;
      }
      .auth-main {
        height: 100%;
      }
    }
  }
}

@media (max-width: 499px) {
  .container-app {
    .container-auth {
      .auth-main {
        .end-layout-main {
          flex-direction: column;

          p {
            margin: 0 0 1rem 0;
          }
        }
      }

      .auth-head {
        padding: 3rem 1rem 2rem 1rem;
      }
    }
  }
}
