.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;

  .spinner {
    border-top: 4px solid #e6e6e6;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
