.container-header {
  width: 250px;
  min-height: 100vh;
  max-height: 768px;
  background-color: white;
  box-shadow: 1px 1px 5px silver;

  .header-logo {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 1.5rem 0 4rem 1.5rem;

    img {
      margin-right: 1rem;
      width: 30px;
      height: 30px;
    }

    h1 {
      font-size: 20px;
    }
  }

  li {
    list-style-type: none;
    margin: 0 0 0.8rem 1.5rem;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin: 0 0 0 1.5rem;
    }

    .icon-header-nav {
      margin-right: 0.5rem;
    }
  }

  .header-head {

    ul {
      border-bottom: 1px solid silver;
      padding: 0 0 1.5rem 0;

      .active-header {
        font-weight: 800;

        .icon-header-nav {
          font-weight: 800;
        }
      }
    }
  }
  .header-main {
    ul {
      margin: 0 0 1rem 0;
      padding: 1.5rem 0 0 0;
    }
  }

  .header-footer {
    display: flex;
    align-items: center;
  }
}
