
.layout-add-form {
  width: 100%;
  height: 100%;
  background-color: #bbb7b793;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  .add-todo-form {
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
    margin: 2rem auto;
    position: relative;
    background-color: white;

    .btn-close-task {
      position: absolute;
      top: 15px;
      right: 25px;
      background-color: transparent;
      border: transparent;
      color: #6b6b6b;
      font-size: 18px;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    label {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      color: var(--color-text-secondary);
    }

    input[type="text"],
    input[type="date"],
    input[type="time"],
    select {
      padding: 0.75rem 1rem;
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      margin-top: 0.4rem;
      font-size: 1rem;
      transition: border-color 0.3s, background-color 0.3s;
      background-color: #e6e5e5;
      color: var(--color-text-primary);

      &:focus {
        border-color: var(--color-primary);
        outline: none;
      }
    }

    .date-time-inputs {
      display: flex;
      gap: 1.5rem;

      label {
        flex: 1;
      }
    }

    .btn-add-todo {
      padding: 1rem;
      border: 1px solid #047ecfee;
      color: #047ecfee;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.1s;
      margin-top: 1rem;

      &:hover {
        background-color: #056cb1ee;
        color: white;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
}

@media (max-width:1199px) {
  .layout-add-form {
    padding: 2rem 0;

    .add-todo-form {
      width: 60%;
    }
  }
}

@media (max-width:899px) {
  .layout-add-form {
    .add-todo-form {
      width: 80%;
    }
  }
}

@media (max-width:499px) {
  .layout-add-form {
    .add-todo-form {
      width: 90%;

      .date-time-inputs {
        flex-direction: column;
        
        input {
          width: 100%;
        }
      }
    }
  }
}